div.titlebar {
    position: fixed;
    background-color: chartreuse;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    font-size: 30px;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

div#mainContent {
    top: 75px;
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(200,200,200);
    border-radius: 15px;
    border-style: solid;
    padding:15px;
    overflow: hidden;
}
.title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.dropdownBox {
    margin-right: 5px;
}