div.titlebar
    div.title User Manager

    //div.dropdownBox
    //    div.dropdown
    //        button.btn.btn-primary.dropdown-toggle#dropdownMenuButton(type= "button", data-toggle= "dropdown", aria-expanded= "false") Menu
    //        div.dropdown-menu(aria-labelledby= "dropdownMenuButton")
    //            a.dropdown-item(href= "#") My Plan