extends layouts/default

block headContent
    link(rel= "stylesheet", href= "/styles/form.css")

block content
    div.title Create a User
    div.form
        form(method= "POST", action= "/create")
            +textForm("username", "Username: ", "text")
            +textForm("age", "Age: ", "number")
            +textForm("email", "Email: ", "email")
            input(type= "submit", value= "Submit")